#CurrentTime {
  font-size: 100px;
  width: 600px;
  margin: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;

}

#CurrentDay {
  font-size: 100px;
  width: 600px;
  margin: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
}

body {
  background-color: lightblue;

}

 {
  height: 200px;
  width: 50%;

}


